body {
    /*background-color: #5D5D5D;*/
    background-color: #DD622D;
    /*font-family: monospace;*/
    font-family: Arial, Helvetica, sans-serif;
    cursor:default;
    max-height: 90%%;
  }
  
  input {
      width:120px;
      margin-left: auto;
      background-color:#0E0E0E;
      color: #98A7FF;
      border-radius: 12px;
  }
  
  .sensorInput {
      width:100px;
  }
  
  select {
      margin-left: auto;
      background-color:#0E0E0E;
      color: #98A7FF;
  }
  
  .pagewrapper{
      /* position: absolute; */
      /*width: 480px;*/
      width: 375px; /*iPhone6s and up for instance*/
      border-style: solid;
      border-width: thin;
      border-color: #8C0074;
      padding: 5px;
      align-items: center;
      height: 88%%;
      overflow-y:scroll;
      border-radius: 12px;
  }
  
  .container{
      margin: 10px;
      border:3px double #000000;
      padding: 2px;
      color: #FFFFFF;
      background-color: #000000;
      border-radius: 16px;
  }
  
  .container:hover{
      color: #00FF00;
  
  /*     .widget {
          display:block;
      } */
  
  }
  
  .widget {
    margin: 4px;
    min-height: 24px;
    background-color: #1D1D1D;
    color: #FFFFFF;
    font-size: 10pt;
    padding: 2px;
    padding-left: 4px;
    display: flex;
    align-items: center;
    overflow: auto;
    border-radius: 16px;
    display:block;
  }
  
  
  .widget:hover {
      background-color: #3D3D3D;
      /*color: #FFFFFF;*/
  }
  
  .logger {
      background-color: #000000;
      color: #98A7FF;
      font-family: "Lucida Console", "Courier New", monospace;
      height: 128px;
      border: 1px solid #ccc;
      resize: vertical;
      overflow: auto;
  }
  .footer {
  /*   position: absolute; */
    width: 375px; /*iPhone6s and up for instance*/
    bottom: 0;
    padding-left: 10px;
    margin: 0px;
    color: #FFFFFF;
    background-color: #000000;
    text-align: left;
    border-radius: 16px;
  }